In [12]:
import pandas as pd
import os

In [2]:
#first, we load in the data

data = pd.read_csv('desktop/titanic/train.csv')
test = pd.read_csv('desktop/titanic/test.csv')
test_ids = test['PassengerId']

#we define a fuction to remove unnecessary columns
def clean(data):
    data = data.drop(['Ticket', 'Name', 'Cabin', 'PassengerId'], axis=1)
    
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    
    #we fill the misisng columns with data calculated by the median value of present column
    for col in cols:
        data[col].fillna(data[col].median(), inplace = True)
        
    data['Embarked'].fillna('U', inplace = True)
    return data

data = clean(data)
test = clean(test)

In [3]:
data['Embarked'].nunique()

4

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ['Sex', 'Embarked']
#we iterate through columns and apply some preprocessing and transformation 
for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
    
data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [5]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

y = data['Survived']
X = data.drop('Survived', axis=1)

#we then split the data and set our preferred parameters 
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [7]:
from sklearn.metrics import accuracy_score
predictions = clf.predict(X_val)
accuracy_score(y_val, predictions)

0.8100558659217877

In [8]:
submissions_preds = clf.predict(test)

In [10]:
df = pd.DataFrame({'PassengerId': test_ids.values,
                  'Survived': submissions_preds})

df.to_csv('Submission.csv', index=False)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1